{% extends 'articles/base.html' %}

{% block body %}
<div class="container">
  <pre><h2 class="display-3">게시판(board)</h2></pre>
</div>
<div class='container jumbotron bg-light rounded-lg border border-warning'>
  <h4><a href="new/"  class="text-primary">새로운 글</a></h4>
  <br>
  {% for article in articles %}
  <h3><a class="display-4 text-dark" href="{{ article.pk }}/">{{ article.pk }}. {{ article.title }}</a></h3>
  <p class="lead">{{ article.created_at }}</p>
  {% endfor %}
</div>
  
{% endblock %}