{% extends 'base.html' %}

{% block body %}

<h1>{{ article.title }}</h1>
<hr>
<p>{{ article.content }}</p>
<p>{{ article.created_at }}</p>
<a href="{% url 'start:update' article.pk %}">글 수정</a>
<form action="{% url 'start:delete' article.pk %}" method="POST" onclick="return confirm('정말 삭제하시겠습니까?')">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>
<a href="{% url 'start:index' %}">목록으로</a>


<hr>
<form action="{% url 'start:commentcreate' article.pk %}" method="POST">
  {% csrf_token %}
  {{ comment_form.content }}
  <br>
  <input type="submit" value="작성">
</form>

{% for comment in comments %}
<hr>  
<p>{{ comment.content }}</p>
<p>{{ comment.created_at }}</p>
<a href="{% url 'start:commentdelete' article.pk comment.pk %}">삭제</a>
{% empty %}
<p>댓글이 없어요!T^T</p>
{% endfor %}

{% endblock %}